/.settings
/*.project
/bookstore/*.classpath
/bookstore/.mvn/wrapper/maven-wrapper.jar
/bookstore/.mvn/wrapper/maven-wrapper.properties
/bookstore/.project
/bookstore/.settings/org.eclipse.core.resources.prefs
/bookstore/.settings/org.eclipse.jdt.core.prefs
/bookstore/.settings/org.eclipse.m2e.core.prefs
/bookstore/.settings/org.eclipse.wst.common.project.facet.core.xml
/bookstore/target/classes/META-INF/MANIFEST.MF
/bookstore/target/classes/META-INF/maven/hello/bookstore/pom.properties
/bookstore/target/classes/META-INF/maven/hello/bookstore/pom.xml
/bookstore/target/classes/application.properties
/bookstore/target/classes/hello/BookstoreApplication.class
/bookstore/target/test-classes/hello/BookstoreApplicationTests.class
/reading/.classpath
/reading/.mvn/wrapper/maven-wrapper.jar
/reading/.mvn/wrapper/maven-wrapper.properties
/reading/.project
/reading/.settings/org.eclipse.core.resources.prefs
/reading/.settings/org.eclipse.jdt.core.prefs
/reading/.settings/org.eclipse.m2e.core.prefs
/reading/.settings/org.eclipse.wst.common.project.facet.core.xml
/reading/target/classes/META-INF/MANIFEST.MF
/reading/target/classes/META-INF/maven/hello/reading/pom.properties
/reading/target/classes/META-INF/maven/hello/reading/pom.xml
/reading/target/classes/application.yml
/reading/target/classes/back/application.properties
/reading/target/classes/hello/BookService.class
/reading/target/classes/hello/ReadingApplication.class
/reading/target/classes/hello/feign/BookServiceFallBack.class
/reading/target/classes/hello/feign/BookServiceFallBackFactory.class
/reading/target/classes/hello/feign/FeignClientBookService.class
/reading/target/test-classes/hello/BookServiceTests.class
/reading/target/test-classes/hello/ReadingApplicationTests.class
